<style>
    *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
    }

    body{
        width: 100%;
        height: auto;
        font-size: 16px;
        color: rgb(53, 53, 53);
        background-color: rgb(243, 243, 243);
    }
    

    h1{
        margin-bottom: 40px;
    }

    .Main {
        width: 50%;
        background-color: #ececec;
        margin: auto auto;
        padding: 5%;
        box-shadow: 4px 4px 4px 4px rgb(51, 51, 51, 0.5);
        margin-top: 120px;
        text-align: center;
        display: flex;
        flex-direction: column;
        border: solid #d8d8d8 5px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .campo {
        width: 60%;
        margin-bottom: 15px;
    }

    .text-box {
        margin-bottom: 15px;
    }

    .submite {
        width: 30%;
        margin: auto;
    }
</style>

<body>
    <div class="Main">

        <h1>Cadastrar Transação</h1>

        <form action="/Transacao/Cadastrar" method="POST" class="form">

            <label>
                <input type="text" name="nome" class="campo" placeholder="Nome da Transação">
            </label>

            <label>
                <input type="text" name="descricao" class="campo" placeholder="Descrição da Transação">
            </label>

            <label>
                <input type="text" name="valor" class="campo" placeholder="Valor da Transação">
            </label>

            <label class="text-box">
                Tipo de Transacao:
                <input type="radio" name="tipoTransacao" value="Receita" placeholder="Receita">
                Receita
                <input type="radio" name="tipoTransacao" value="Despesa" placeholder="Despesa">
                Despesa
            </label>

            <label>
                Data
                <input type="date" name="dataTransacao" placeholder="Data da Transação" class="text-box">
            </label>

            <input type="submit" value="Cadastrar" class="submite">

        </form>
    </div>
</body>