<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/wwwroot/css/login.css" />
</head>
<body>
    @{
        Layout = "MasterPageDeslogado";
    }
    <div class="container">
        <header class="menu">
            <div class="menu-select">
                <h1 class="titulo-menu">Cadastrar</h1>
            </div>
            
            <div class="menu-no-select">
                <a href="Login.cshtml">Login</a>
            </div>
        </header>

        <main>
            <div class="main-principal">
                <form method="Post" action="/Usuario/Cadastrar">
                    <label>
                        <input class="camp-inserir" type="text" name="nome" placeholder="Nome">
                    </label>

                    <label>
                        <input class="camp-inserir" type="email" name="email" placeholder="Email">
                    </label>

                    <label>
                        <input class="camp-inserir" type="password" name="senha" placeholder="Senha">
                    </label>

                    <label>
                        <select class="botton-envair botton-select"name="tipo">
                            <option value="">Tipo de User</option>
                            <option value="usuario">Usuário</option>
                            <option value="admin">Admin</option>
                        </select>
                    </label>

                    <input class="botton-envair" type="submit" value="Cadastrar">
                    <div class="mensagem">
                        @ViewBag.Mensagem
                    </div>
                </form>
            </div>
        </main>
    <div>
</body>
