<h1>Login</h1>

<form method="Post" action="/Usuario/Login">
    <label>
        <input type="email" name="email" placeholder="Email">
    </label>

    <label>
        <input type="password" name="senha" placeholder="Senha">
    </label>

    <input type="submit" name="login" value="Entrar">
</form>