<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/wwwroot/css/login.css" />
</head>
<body>
    @{
        Layout = "MasterPageDeslogado";
    }
    
    <div class="container">
        <header class="menu">
            <div class="menu-select">
                <h1 class="titulo-menu">Login</h1>
            </div>
            
            <div class="menu-no-select">
                <a href="/Usuario/Cadastrar">Cadastrar</a>
            </div>zz
        </header>

        <main>
            <div class="main-principal">
                <form method="Post" action="/Usuario/Login">
                    <label>
                        <input class="camp-inserir" type="email" name="email" placeholder="Email">
                    </label>
            
                    <label>
                        <input class="camp-inserir" type="password" name="senha" placeholder="Senha">
                    </label>
            
                    <input class="botton-envair" type="submit" name="login" value="Entrar">
                </form>
            </div>
        </main>
    </div>
</body>
</html>