@{
    ViewBag.Title = "Login";
    Layout = "MasterPageDeslogado";
}

<h1>Login</h1>
<form method="Post" action="/Usuario/Login" >
    <label class="cor-azul">
        email
        <input  type="email" name="email" required=true>
    </label>
    <label>
        Senha
        <input type="password" name="senha" required=true>
    </label>

    <input type="submit" valur="Login">
</form>